<% include ../partials/header %>

<!-- POST index -->

<div class="row">
  <div class="col-md-7 col-md-offset-1">

    <h1>Daily Planet Article List</h1>

    <h3>Want to add an article? you must log in as an author</h3>
    <a href="/Authors">Authors Here</a>
    <br>

    <% posts.forEach(function(post){ %>

    <p>
      <a href="/Posts/<%= post.AuthorId%>"> <%= post.title %></a>
      <br>
      by <a href="/Authors/<%=post.Author.id%>"> <%=post.Author.name%> </a>
    <p>

      <form action="/Posts/<%= post.id %>?_method=delete" method="post">
        <input type="submit" value="Delete">
      </form>
      <a href="/Posts/<%= post.id %>/edit">Edit</a>
    <% }); %>
  </div>

  <div class="col-md-3 col-md-offset-1"></div>


<% include ../partials/footer %>
