<% include ../partials/header %>

<!-- INDEX PAGE FOR AUTHOR -->

<div class="row">
  <div class="col-md-7 col-md-offset-1">

    <h1>Daily Planet Author List</h1>
    <a href="/Authors/New">Authors Register Here</a>
    <br>

    <% allAuthors.forEach(function(author){ %>

    <p>
      <a href="/Authors/<%= author.id %>"> <%= author.name %></a>
      <!-- Link to Author info  -->
    <p>

    <p>
      <a href="/Posts/<%= author.id %>/New">Add a new post</a>
      <!-- Link to add new post -->
    <p>

    <form action="/Authors/<%= author.id %>?_method=delete" method="post">
      <input type="submit" value="Delete">
    </form>
       <br>
    <a href="/Authors/<%= author.id %>/edit">Edit</a>
    <% }); %>
  </div>

  <div class="col-md-3 col-md-offset-1"></div>

</div>
<% include ../partials/footer %>
